html,
body,
header,
.jarallax {
    height: 700px;
    min-height: 700px;
}
@media (max-width: 450px) {
    html,
    body,
    header,
    .jarallax {
        height: 700px;
        min-height: 700px;
    }
}
@media (min-width: 451px) and (max-width: 740px) {
    html,
    body,
    header,
    .jarallax {
        height: 500px;
        min-height: 500px;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .jarallax {
        height: 550px;
        min-height: 550px;
    }
}
