{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container bg-transparent" style=" margin-top: 10%">
        <div class="row card card-cascade narrower" style="padding:5%">
            <div class="col-md-1"></div>
            <div class="col-md-10 view view-cascade gradient-card-header purple-gradient">
                <h3 class="text-center h2" style="margin-bottom: 5%">Add Your Neighborhood Here</h3>
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-sm rounded-pill btn-dark-green ">Add Hood</button>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
{% endblock %}