{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
    {{ _("Neighborhood") }} -
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10%">
        <a href="{% url 'add-hood' %}" class="btn btn-sm rounded-pill peach-gradient mb-2"> Add Hood</a>
        <div class="row">
            {% for hood in all_neighborhoods %}
                <div class="col-md-4 card card-cascade narrower ">
                    <div class="card mb-4 view view-cascade overlay" style="min-height:360px; border-radius: 8%">
                        <img src="{{ hood.hood_logo.url }}" class="card-img-top" alt="{{ hood.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ hood.name }}  ({{hood.location}}) <span class="ml-4">{{hood.members.count}} member{{hood.members.count|pluralize}}</span></h5>
                            <p class="card-text">{{hood.description}}</p>
                            {% if request.user.userprofile.neighbourhood == hood %}
                                <a href="{% url 'leave-hood' hood.id %}" class="btn rounded-pill btn-reddit btn-sm">Leave Hood</a>
                            {% elif not request.user.userprofile.neighbourhood %}
                                <a href="{% url 'join-hood' hood.id %}" class="btn rounded-pill btn-cyan btn-sm">Join Hood</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
